<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" style="margin-top: 30px;">
    <h1>Datos</h1>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>{{usuario.nombre}}</ion-label>
      <ion-label>{{usuario.apellido}}</ion-label>
      <ion-label>{{usuario.documento}}</ion-label>
      <ion-label>{{usuario.email}}</ion-label>
      <ion-label>{{usuario.fecha}}</ion-label>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
